from random import randint


class Calcular:

    def __init__(self: object, dificuldade: int):
        self.__dificuldade = dificuldade
        self.__valor1 = self._gerar_valor
        self.__valor2 = self._gerar_valor
        self.__operacao = self._gerar_operacao
        self.__resultado = self._gerar_resultado

    @property
    def dificuldade(self):
        return self.__dificuldade

    @property
    def valor1(self):
        return self.__valor1

    @property
    def valor2(self):
        return self.__valor2

    @property
    def operacao(self):
        return self.__operacao

    @property
    def resultado(self):
        return self.__resultado

    @property
    def _gerar_valor(self):
        if self.dificuldade == 1:
            return randint(0, 10)
        elif self.dificuldade == 2:
            return randint(0, 100)
        elif self.dificuldade == 3:
            return randint(0, 1000)
        else:
            return randint(0, 1000000)

    @property
    def _gerar_operacao(self):
        return randint(1, 2)  # se 1 - soma  \  se 2 - subtrai

    @property
    def _gerar_resultado(self):
        if self.operacao == 1:
            return self.valor1 + self.valor2
        elif self.operacao == 2:
            return self.valor1 - self.valor2
        else:
            return "operacao invalida"

    @property
    def simbolo(self):
        if self.operacao == 1:
            return '+'
        if self.operacao == 2:
            return "-"

    @property
    def mostrar_operacao(self):
        return f"{self.valor1} {self.simbolo} {self.valor2} == ????? "

    def conferir_resposta(self, resposta) -> bool:
        conferidor = False
        if self.resultado == resposta:
            conferidor = True
            print("resposta correta")
        else:
            print("RESPOSTA ERRADA")
        return conferidor
